<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证码登录</title>
</head>
<body>
<img src="<%- image %>" alt="">

<form action="captchas" method="post">
    <input type="text" name="captcha" value="1211111">
    <button type="submit">submit</button>
</form>
</body>
</html>