<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证码登录</title>
</head>
<body>
<% if (locals.err) { %>
<h2><%= err %></h2>
<hr>
<% } %>

<img src="<%- captcha %>" alt="">
<form action="captchas" method="post">
    <input type="text" name="captcha" value="" placeholder="输入验证码">
    <input type="hidden" name="action" value="<%- action %>">
    <button type="submit">submit</button>
</form>
</body>
</html>